
.sidebar-custom-button-icon img {
	height: 2rem;
}

#sidebar ul.sidebar-buttons li.sidebar-button .sidebar-button-link {
	color: #FFF;
}

#sidebar .sidebar-profile .sidebar-profile-name {
	color: #FFF;
}
